@import "variables";

// carrito
.carrito--modificacion {
    border-radius: 5px;
}
.carrito--size {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 2%;
}
.carrito--color {
    background-color: $color3;
}

// contenedor carrito
.carrito__seccion__productos--size {
    margin-right: 2%;
}
// productos
.producto__carrito--modificacion {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30%;
    text-align: center;
    align-items: center;
}
.producto__carrito--size {
    width: 100%;
    height: 180px;
    margin-top: 10px;
    // temporal
    margin-left: 1%;
}
.producto__carrito--color {
    background-color: $color3;
    box-shadow: $color1 2px 2px 2px 2px;
    color: $color4;
}
// compra carrito
.carrito__compra--size {
    width: 98%;
    height: 50px;
    margin-top: 20px;
}
.precio__total--modificacion {
    text-align: right;
}
.precio__total--size {
    padding-right: 20px;
    padding-top: 10px;
}

// temporal
.carritoCompraFinal {
    // color
    background-color: $color3;
    // modificacion
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    // size
    width: auto;
    height: 85px;
}