@import "variables";
/* seccion 2 */
.producto--modificacion {
    font-family: $font1;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.producto--size{
    padding-top: 80px;
    padding-left: 1%;
    padding-right: 2%;
    padding-bottom: 40px;
    width: 100%;
    height: auto;

    h1 {
        width: 100%;
    }
}
.producto--color {
    background-color: $color3;
}