@import "variables";

.cuadro__404--modificacion {
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding-top: 200px;
}
.cuadro__404--size {
    width: 99%;
    height: auto;
}
.cuadro__404--color {
    background-color: $color3;
}
.titulo__404--size {
    margin-bottom: 20px;
}
.boton__404__inicio--modificacion {

    a {
        text-decoration: none;
        text-transform: $mayus;
    }
}
.boton__404__inicio--size {
    padding-bottom: 200px;
    
    a {
        padding: 5px;
        border-radius: 8px;
    }
}
.boton__404__inicio--color {
    
    a {
        background-color: $color1;
        color: $color3;
        box-shadow: 0 0 0 0 rgba(63, 60, 60, 0.1);
        animation: pulse404 2s infinite cubic-bezier(0.66, 0, 0, 1);
    }
    a:hover {
        color: $color2;
        transition: 0.7s;
    }
}
@keyframes pulse404 {
    0% {
        box-shadow: 0 0 0 5px $color7;
    }
    50% {
        box-shadow: 0 0 0 0px $color7;
    }
    100% {
        box-shadow: 0 0 0 5px $color7;
    }
}