@import "variables";

.producto__x--modificacion {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.producto__x--size {
    width: 99%;
    height: auto;
    padding-top: 100px;
    margin-left: 0.5%;
    padding-bottom: 115px;
}
.producto__x--color {
    background-color: $color3;
}
// img
.producto__x__img--size {
    padding-left: 1%;
    padding-bottom: 20px;
}
// descripcion
.producto__x__descripcion--size {
    padding-right: 80px;
    padding-left: 30px;
}
// text precio
.precioProductoBtc {
    color: $color9;
    display: block;
}
// boton comprar
.boton__comprar--modificacion {
    position: relative;
    a {
        text-decoration: none;
    }
}
.boton__comprar__texto--modificacion {
    border-radius: 5px;
    position: absolute;
    border: none;
}
.boton__comprar__texto--size {
    width: 150px;
    height: 30px;
    // position
    right: 130px;
    bottom: 0px;
}
.boton__comprar__texto--color {
    background-color: $color1;
    color: $color3;
    border-color: $color1;
}

/* animacion boton comprar */
.boton__comprar__texto--color:hover {
    animation: pulseb 2s infinite cubic-bezier(0.66, 0, 0, 1);
    color: $color2;
    transition: 0.7s;
}
@keyframes pulseb {
    0% {
        box-shadow: 0 0 0 3px $color4;
    }
    50% {
        box-shadow: 0 0 0 0px $color4;
    }
    100% {
        box-shadow: 0 0 0 3px $color4;
    }
}
// cuotas
.seleccionCuotas {
    // modificacion
    border-radius: 5px;
    position: absolute;
    select {
        cursor: pointer;

    }
    // size
    width: 50px;
    height: 50px;
    // position
    right: 320px;
    bottom: 250px;
    // color
    color: $color4;
    select {
        box-shadow: 3px 3px 2px 0px $color1;
    }
    // text
    label {
        font-size: 18px;
        letter-spacing: 0.1px;
    }
}
.seleccionCuotas:hover {
    color: $color1;
    transition: 0.7s;
}