@import "variables";

.producto__x--modificacion {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.producto__x--size {
    width: 99%;
    height: auto;
    padding-top: 100px;
    margin-left: 0.5%;
    padding-bottom: 78px;
}
.producto__x--color {
    background-color: $color3;
}
// img
.producto__x__img--size {
    padding-left: 1%;
    padding-bottom: 20px;
}
// descripcion
.producto__x__descripcion--size {
    padding-right: 80px;
    padding-left: 30px;
}
// boton comprar
.boton__comprar--modificacion {
    position: relative;
    a {
        text-decoration: none;
    }
}
.boton__comprar__texto--modificacion {
    border-radius: 5px;
    position: absolute;
    border: none;
}
.boton__comprar__texto--size {
    width: 150px;
    height: 30px;
    // position
    right: 130px;
    bottom: 0px;
}
.boton__comprar__texto--color {
    background-color: $color1;
    color: $color3;
    border-color: $color1;
}

/* animacion boton comprar */
.boton__comprar__texto--color:hover {
    animation: pulseb 2s infinite cubic-bezier(0.66, 0, 0, 1);
    color: $color2;
    transition: 0.7s;
}
@keyframes pulseb {
    0% {
        box-shadow: 0 0 0 3px $color4;
    }
    50% {
        box-shadow: 0 0 0 0px $color4;
    }
    100% {
        box-shadow: 0 0 0 3px $color4;
    }
}
// texto precio
.precio--modificacion {
    text-transform: $mayus;
    font-family: $font3;
}
.precio--size {
    font-size: 25px;
}

.modalCompra--modificacion {
    position: fixed;
    z-index: 3;
    border-radius: 5px;
    text-align: center;
}
.modalCompra--size {
    width: 50%;
    height: 450px;
    padding-top: 60px;
    padding-bottom: 80px;
    // position
    top: 100px;
    left: 25%;
}
.modalCompra--color {
    background-color: $color3;
    box-shadow: $color1 0px 2px 10px 4px;
}
.modalCompraBotones--modificacion {
    text-align: right;
}
.modalCompraBotones--size {
    margin-top: 40px;
    margin-right: 40px;
}
.botonCerrar--modificacion {
    border: none;
    border-radius: 50%;
}
.botonCerrar--size {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    span{
        font-size: 20px;
    }
}
.botonCerrar--color {
    background-color: $color1;
    span {
        color: $color2;
    }

}
.botonCerrar--color:hover {
    span {
        color: $color4;
        transition: 0.7s;
    }
}
// animacion
.modalCompra {
    opacity: 0;
    visibility: hidden;
}
.modalCompraInfo--size {
    width: 100%;
    height: 70px;
    margin-top: 20px;
}
.modalCompraInfo--size strong{
    font-size: 20px;
    color: $color1;
}
#infoProductoComprado {
    display: block;
}
