@import "variables";
/* mobile first */
@media screen and (max-width:1110px) {
    #iconoFlecha span {
        bottom: 80px;
        margin-left: 45%;
    }
    #portadaInicio div img{
        margin-top: 50px;
        height: 600px;
    }
}
@media screen and (max-width:900px) {
    #portadaInicio div img{
        margin-top: 50px;
        height: 580px;
    }
    #iconoFlecha span {
        bottom: 60px;
    }
}
@media screen and (max-width:767px) and (orientation:landscape) {
    .producto__trio--modificacion {
        padding-left: 25%;
        padding-top: 10px;
    }
    #portadaInicio div img {
        height: 320px;
    } 
    #iconoFlecha span {
        bottom: 10px;
    }
}
@media screen and (max-width:780px){
    #logo{
        font-size: 25px;
        margin-bottom: -10px;
    }
    nav{
        width: 100%;
        height: auto;
    }
    #portadaInicio div img {
        height: 600px;
    } 
    .carousel-control-prev{
        /* ubicacion boton */
        margin-top: -198px;
        margin-left: 60%;
    }
    .carousel-control-next{
        /* ubicacion boton */
        margin-top: -198px;
        margin-right: 20%;
    }
    .logo--modificacion {
        width: 60px;
        height: 60px;
    }
    .logo--size {
        top: -10px;
        padding-left: 20px;
        padding-top: -10px;
        margin-bottom: -5px;
    }
    .logo__simbolo_recargar__pagina--size {
        top: 25px;
        left: 55px;
        font-size: 18px;
    }
    // producto x
    .producto__x--modificacion {
        flex-direction: column;
    }
    // boton comprar
    .boton__comprar__texto--size {
        // position
        right: 40px;
    }
    // separacion de mapa
    #map {
        margin-top: 20px;
    }
}
@media screen and (max-width:680px) {
    .carousel-control-prev{
        /* ubicacion boton */
        margin-left: 60%;
    }
}
@media screen and (max-width:560px) {
    #portadaInicio div img {
        height: 520px;
    } 
    #iconoFlecha span {
        bottom: 50px;
        margin-left: 43%;
    }
    #map iframe{
        padding-top: 90px;
    }
    .boton__enviar__borrar--modificacion{
        flex-direction: column;
    }
    .borrar--size {
        margin-left: 20px;
    }
    // boton comprar
    .boton__comprar__texto--size {
        // position
        top: 15px;
    }
}
@media screen and (max-width:440px) {
    .carousel-control-prev{
        /* ubicacion boton */
        margin-left: 52%;
    }
    .carousel-control-next{
        /* ubicacion boton */
        margin-right: 20%;
    }
}
@media screen and (max-width:400px) {
    #iconoFlecha span {
        margin-left: 39%;
        bottom: 80px;
    }
    .informacion__persona--modificacion {
        flex-direction: column;
    }
    .persona__descripcion--size {
        margin-left: -200px;
    }
    .producto__catalogo--size {
        padding-left: 0;
    }
}
@media screen and (max-width:385px) {
    .carousel-control-prev{
        /* ubicacion boton */
        margin-left: 65%;
    }
    .carousel-control-next{
        /* ubicacion boton */
        margin-right: 5%;
    }
    .producto__trio--size {
        margin-left: -13%;
    }
    .galeria--size {
        margin-left: -8%;
    }
}