// variables
@import "variables";
/* fuentes de texto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
/* reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* color fondo */
    background-color: $color1;
    font-family: $font1;
}
// colores de scroll
body::-webkit-scrollbar {
    width:  8px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: $color2;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: $color3;
}
@import "barra__superior__menu";
/* seccion 2 */
#iconoFlecha span{
    font-size: 100px;
    /* color flecha */
    color: $color2;
    position: absolute;
    margin-left: 45%;
    bottom: 50px;
    animation-name: flechaInicio;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
#iconoFlecha span:hover{
    color: $color3;
    transition: 0.7s;
}
@keyframes flechaInicio{
    0%{
        transform: translatey(0px);
    }
    30%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(10px);
    }
    100%{
        transform: translatey(0px);
    }
}
@import "responsive";
/* seccion 3 */
.seccion--modificacion {
    border-top: 1px solid $color1;
    border-radius: 5px;
}
.seccion--size {
    height: auto;
    width: 98%;
    margin-bottom: 5px;
    margin-left: 1%;
    padding: 10px;

    h2 {
        width: 100%;
    }
}
.seccion--color {
    background-color: $color3;
}
.titulo--modificacion {
    @include titulo__seccion; 
}
.producto__catalogo--size {
    min-width: 200px;
    max-width: 300px;
    max-height: 350px;
    min-height: 250px;
    padding-top: 5px;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-left: 35px;
    
    img{
        padding-left:6%;
    }
}
.producto__catalogo--modificacion {
    position: relative;
    text-align: center;
    a {
        text-decoration: none;
    }
}
.producto__catalogo--size {
    margin-top: 8px;
}
.producto__catalogo--color {
    background-color: $color3;
}
// titulo de productos
.producto__catalogo__titulo--modificacion {
    position: relative;
}
.producto__catalogo__titulo--size {
    font-size: 17px;
}
// simbolo de link
.simbolo__link__producto--modificacion {
    position: absolute;
}
.simbolo__link__producto--size {
    font-size: 30px;
    bottom: 2px;
    right: 5px;
}
.simbolo__link__producto--color {
    color: $color4;
}
.simbolo__link__producto--color:hover {
    color: $color1;
    transition: 0.7s;
}
// animar color titulo
.producto__catalogo--color:hover .producto__catalogo__titulo--color {
    color: $color1;
    transition: 0.7s;
}
// animacion sombra card 
.producto__catalogo--color:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    animation: pulsecard 2s infinite cubic-bezier(0.66, 0, 0, 1);
    transition: 0.7s;
}
@keyframes pulsecard {
    0% {
        box-shadow: 0 0 0 3px $color1;
    }
    50% {
        box-shadow: 0 0 0 0px $color1;
    }
    100% {
        box-shadow: 0 0 0 3px $color1;
    }
}
.producto__catalogo__titulo--color {
    color: $color4;
}
// oferta icono
.icono__oferta {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: $color5;
}
// texto de oferta
.ofertaTexto{
    color: $color5;
    font-size: 20px;
    /* separacion de oferta con texto */
    margin-bottom: -3px;
    /* separacion con foto de producto */
    margin-top: 2px;
}
// carousel botones
.carousel__control__prev--size {
    // tamaño
    width: 50px;
    height: 50px;
    /* dimensiones de boton */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    // modificacion
    border-radius: 10px;
}
.carousel__control__prev--position {
    left: -10px;
    top: 150px;
}
.carousel__control__prev--color {
    /* colores */
    color: $color3;
    background-color: $color4;
}
.carousel__control__prev--size:hover{
    background-color: $color1;
    transition: 0.7s;
}
.carousel__control__next--size {
    // tamaño
    width: 50px;
    height: 50px;
    /* dimensiones de boton */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    // modificacion
    border-radius: 10px;
}
.carousel__control__next--position {
    right: -10px;
    top: 150px;
}
.carousel__control__next--color {
    /* colores */
    color: $color3;
    background-color: $color4;
}
.carousel__control__next--size:hover{
    background-color: $color1;
    transition: 0.7s;
}
/* seccion 4 */
.categorias{
    background-color: $color3;
    border-radius: 3px;

    p a{
        text-decoration: none;
        color: $color4;
    }
}
// titulo categoria destacada
.categorias__destacadas__titulo--modificacion {
    display: flex;
    align-items: center;
}
.categorias__destacadas__titulo--size {
    padding-top: 8px;
    width: 100%;
    height: auto;
}
// ver mas
.subtitulo__categoria__vermas--modificacion {
    text-decoration: none;
    position: relative;
}
.subtitulo__categoria__vermas--size {
    padding-left: 10px;
}
.subtitulo__categoria__vermas--color {
    color: $color1;
}
/* animacion ver mas */
.subtitulo__categoria__vermas--color:hover {
    color: $color4;
    transition: 0.7s;
}
.subtitulo__categoria__vermas--modificacion::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 4px;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: $color1;
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.subtitulo__categoria__vermas--modificacion:hover::after {
    opacity: 1;
    transform: translateY(0);
}
// categoria destacada
.categoria__destacada__img__text--modificacion {
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
        text-decoration: none;
    }
}
.categoria__destacada__img__text--size {
    padding-bottom: 5px;
}
/* imagenes de categorias */
.categoria__img--modificacion {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    filter: opacity(0.95) blur(1px);
}
// animacion img
.categoria__img--modificacion:hover {
    filter: opacity(1) blur(0);
    transition: 1s;
}
// texto categorias
.titulos__flotantes__categorias--modificacion {
    text-transform: $mayus;
    position: absolute;
    font-family: $font2;
}
.titulos__flotantes__categorias--size {
    width: auto;
    height: auto;
    top: 240px;
    padding-left: 10px;

    h4 {
        font-size: 30px;
    }
}
.titulos__flotantes__categorias--color {
    color: $color3;
}
.titulos__flotantes__categorias--color:hover {
    color: $color2;
    transition: 1s;
}
/* section 5 */
.contacto--modificacion {
    border-radius: 10px;
    text-align: center;
}
.contacto--size {
    width: 100%;
    height: auto;

    h3{
        padding-top: 10px;
        padding-left: 50px;
        font-size: 30px;
    }
}
.contacto--color {
    background-color: $color1;

    h3 {
        color: $color4;
    }
}
.iconos__contacto--modificacion {
    a {
        text-indent: 40px;
    }
    i:hover {
        color: $color3;
        transition: 0.7s;
        transform: scale(1.05);
    }
}
.iconos__contacto--size {
    a {
        font-size: 45px;
    }
}
.iconos__contacto--color {
    a {
        color: $color2;
    }
}
@import "categorias";
@import "contacto__formulario";
@import "carrito";
@import "informacion";
@import "error__404";
@import "producto__x";


