@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

/* fuentes de texto */
/* reseteo */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* color fondo */
  background-color: #013440;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: blanchedalmond;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

/* seccion 1 */
header {
  z-index: 2;
}

/* color barra menu */
nav {
  background-color: #013440;
  width: 100%;
  height: 50px;
  font-family: "Oswald", sans-serif;
}

header nav a {
  padding: 20px;
}

.logo--modificacion {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 3;
}

.logo--size {
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.logo--animacion {
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.logo--animacion:hover {
  -webkit-transform: rotatey(190deg);
          transform: rotatey(190deg);
}

.logo__simbolo_recargar__pagina--modificacion {
  position: absolute;
}

.logo__simbolo_recargar__pagina--size {
  top: 18px;
  left: 58px;
  font-size: 20px;
}

.logo__simbolo_recargar__pagina--color {
  color: blanchedalmond;
}

#menuNavegacion ul li a {
  color: blanchedalmond;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 8px;
}

#menuNavegacion ul li a:hover {
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#portadaInicio div img {
  margin-top: 50px;
}

#botonMenu {
  width: 60px;
  height: 40px;
  margin-right: 20px;
}

/* submenu */
#submenu li {
  background-color: #013440;
  padding-bottom: 5px;
}

#menuNavegacion ul li ul li a:hover {
  color: #013440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.menu__icons span {
  font-size: 16px;
  padding-right: 3px;
  padding-top: 0px;
}

/* seccion 2 */
#iconoFlecha span {
  font-size: 100px;
  /* color flecha */
  color: blanchedalmond;
  position: absolute;
  margin-left: 45%;
  bottom: 50px;
  -webkit-animation-name: flechaInicio;
          animation-name: flechaInicio;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#iconoFlecha span:hover {
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@-webkit-keyframes flechaInicio {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes flechaInicio {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

/* mobile first */
@media screen and (max-width: 1110px) {
  #iconoFlecha span {
    bottom: 80px;
    margin-left: 45%;
  }
  #portadaInicio div img {
    margin-top: 50px;
    height: 600px;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .bienvenida--size {
    width: 120%;
  }
}

@media screen and (max-width: 900px) {
  #portadaInicio div img {
    margin-top: 50px;
    height: 580px;
  }
  #iconoFlecha span {
    bottom: 60px;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .producto__trio--modificacion {
    padding-left: 25%;
    padding-top: 10px;
  }
  #portadaInicio div img {
    height: 320px;
  }
  #iconoFlecha span {
    bottom: 10px;
  }
}

@media screen and (max-width: 780px) {
  #logo {
    font-size: 25px;
    margin-bottom: -10px;
  }
  nav {
    width: 100%;
    height: auto;
  }
  #portadaInicio div img {
    height: 600px;
  }
  .carousel-control-prev {
    /* ubicacion boton */
    margin-top: -198px;
    margin-left: 60%;
  }
  .carousel-control-next {
    /* ubicacion boton */
    margin-top: -198px;
    margin-right: 20%;
  }
  .logo--modificacion {
    width: 60px;
    height: 60px;
  }
  .logo--size {
    top: -10px;
    padding-left: 20px;
    padding-top: -10px;
    margin-bottom: -5px;
  }
  .logo__simbolo_recargar__pagina--size {
    top: 25px;
    left: 55px;
    font-size: 18px;
  }
  .producto__x--modificacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boton__comprar__texto--size {
    right: 40px;
  }
  #map {
    margin-top: 20px;
  }
  .categorias__all--size {
    margin-top: 20px;
  }
}

@media screen and (max-width: 680px) {
  .carousel-control-prev {
    /* ubicacion boton */
    margin-left: 60%;
  }
}

@media screen and (max-width: 560px) {
  #portadaInicio div img {
    height: 520px;
  }
  #iconoFlecha span {
    bottom: 50px;
    margin-left: 43%;
  }
  #map iframe {
    padding-top: 90px;
  }
  .boton__enviar__borrar--modificacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .borrar--size {
    margin-left: 20px;
  }
  .boton__comprar__texto--size {
    top: 15px;
  }
}

@media screen and (max-width: 440px) {
  .carousel-control-prev {
    /* ubicacion boton */
    margin-left: 52%;
  }
  .carousel-control-next {
    /* ubicacion boton */
    margin-right: 20%;
  }
}

@media screen and (max-width: 400px) {
  #iconoFlecha span {
    margin-left: 39%;
    bottom: 80px;
  }
  .informacion__persona--modificacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .persona__descripcion--size {
    margin-left: -200px;
  }
  .producto__catalogo--size {
    padding-left: 0;
  }
}

@media screen and (max-width: 385px) {
  .carousel-control-prev {
    /* ubicacion boton */
    margin-left: 65%;
  }
  .carousel-control-next {
    /* ubicacion boton */
    margin-right: 5%;
  }
  .producto__trio--size {
    margin-left: -13%;
  }
  .galeria--size {
    margin-left: -8%;
  }
}

/* seccion 3 */
.seccion--modificacion {
  border-top: 1px solid #013440;
  border-radius: 5px;
}

.seccion--size {
  height: auto;
  width: 98%;
  margin-bottom: 5px;
  margin-left: 1%;
  padding: 10px;
}

.seccion--size h2 {
  width: 100%;
}

.seccion--color {
  background-color: white;
}

.titulo--modificacion {
  font-family: "Century Gothic", CenturyGothic;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
}

.producto__catalogo--size {
  min-width: 200px;
  max-width: 300px;
  max-height: 350px;
  min-height: 250px;
  padding-top: 5px;
  padding-left: 2%;
  margin-bottom: 10px;
  margin-left: 35px;
}

.producto__catalogo--size img {
  padding-left: 6%;
}

.producto__catalogo--modificacion {
  position: relative;
  text-align: center;
}

.producto__catalogo--modificacion a {
  text-decoration: none;
}

.producto__catalogo--size {
  margin-top: 8px;
}

.producto__catalogo--color {
  background-color: white;
}

.producto__catalogo__titulo--modificacion {
  position: relative;
}

.producto__catalogo__titulo--size {
  font-size: 17px;
}

.simbolo__link__producto--modificacion {
  position: absolute;
}

.simbolo__link__producto--size {
  font-size: 30px;
  bottom: 2px;
  right: 5px;
}

.simbolo__link__producto--color {
  color: black;
}

.simbolo__link__producto--color:hover {
  color: #013440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.producto__catalogo--color:hover .producto__catalogo__titulo--color {
  color: #013440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.producto__catalogo--color:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  -webkit-animation: pulsecard 2s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulsecard 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@-webkit-keyframes pulsecard {
  0% {
    -webkit-box-shadow: 0 0 0 3px #013440;
            box-shadow: 0 0 0 3px #013440;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #013440;
            box-shadow: 0 0 0 0px #013440;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px #013440;
            box-shadow: 0 0 0 3px #013440;
  }
}

@keyframes pulsecard {
  0% {
    -webkit-box-shadow: 0 0 0 3px #013440;
            box-shadow: 0 0 0 3px #013440;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #013440;
            box-shadow: 0 0 0 0px #013440;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px #013440;
            box-shadow: 0 0 0 3px #013440;
  }
}

.producto__catalogo__titulo--color {
  color: black;
}

.icono__oferta {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #64ac1d;
}

.ofertaTexto {
  color: #64ac1d;
  font-size: 20px;
  /* separacion de oferta con texto */
  margin-bottom: -3px;
  /* separacion con foto de producto */
  margin-top: 2px;
}

.carousel__control__prev--size {
  width: 50px;
  height: 50px;
  /* dimensiones de boton */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.carousel__control__prev--position {
  left: -10px;
  top: 150px;
}

.carousel__control__prev--color {
  /* colores */
  color: white;
  background-color: black;
}

.carousel__control__prev--size:hover {
  background-color: #013440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.carousel__control__next--size {
  width: 50px;
  height: 50px;
  /* dimensiones de boton */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.carousel__control__next--position {
  right: -10px;
  top: 150px;
}

.carousel__control__next--color {
  /* colores */
  color: white;
  background-color: black;
}

.carousel__control__next--size:hover {
  background-color: #013440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/* seccion 4 */
.categorias {
  background-color: white;
  border-radius: 3px;
}

.categorias p a {
  text-decoration: none;
  color: black;
}

.categorias__destacadas__titulo--modificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categorias__destacadas__titulo--size {
  padding-top: 8px;
  width: 100%;
  height: auto;
}

.subtitulo__categoria__vermas--modificacion {
  text-decoration: none;
  position: relative;
}

.subtitulo__categoria__vermas--size {
  padding-left: 10px;
}

.subtitulo__categoria__vermas--color {
  color: #013440;
}

/* animacion ver mas */
.subtitulo__categoria__vermas--color:hover {
  color: black;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.subtitulo__categoria__vermas--modificacion::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 4px;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: #013440;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.subtitulo__categoria__vermas--modificacion:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.categoria__destacada__img__text--modificacion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.categoria__destacada__img__text--modificacion a {
  text-decoration: none;
}

.categoria__destacada__img__text--size {
  padding-bottom: 5px;
}

/* imagenes de categorias */
.categoria__img--modificacion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-filter: opacity(0.95) blur(1px);
          filter: opacity(0.95) blur(1px);
}

.categoria__img--modificacion:hover {
  -webkit-filter: opacity(1) blur(0);
          filter: opacity(1) blur(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.titulos__flotantes__categorias--modificacion {
  text-transform: uppercase;
  position: absolute;
  font-family: "Oswald", sans-serif;
}

.titulos__flotantes__categorias--size {
  width: auto;
  height: auto;
  top: 240px;
  padding-left: 10px;
}

.titulos__flotantes__categorias--size h4 {
  font-size: 30px;
}

.titulos__flotantes__categorias--color {
  color: white;
}

.titulos__flotantes__categorias--color:hover {
  color: blanchedalmond;
  -webkit-transition: 1s;
  transition: 1s;
}

/* section 5 */
.contacto--modificacion {
  border-radius: 10px;
  text-align: center;
}

.contacto--size {
  width: 100%;
  height: auto;
}

.contacto--size h3 {
  padding-top: 10px;
  padding-left: 50px;
  font-size: 30px;
}

.contacto--color {
  background-color: #013440;
}

.contacto--color h3 {
  color: black;
}

.iconos__contacto--modificacion a {
  text-indent: 40px;
}

.iconos__contacto--modificacion i:hover {
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.iconos__contacto--size a {
  font-size: 45px;
}

.iconos__contacto--color a {
  color: blanchedalmond;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

/* categorias */
/* seccion 2 */
.categorias--size {
  margin-left: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
}

.categorias--modificacion {
  border-radius: 5px;
}

.categorias--color {
  background-color: white;
}

.categorias__all--size {
  padding-top: 60px;
}

.categoria__destacada__img__text--size {
  margin-bottom: 5px;
}

/* categoria: todos los productos  */
.producto--modificacion {
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.producto--size {
  padding-top: 80px;
  padding-left: 1%;
  padding-right: 2%;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
}

.producto--size h1 {
  width: 100%;
}

.producto--color {
  background-color: white;
}

.producto--modificacion {
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.producto--size {
  padding-top: 80px;
  padding-left: 1%;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
}

.producto--size h1 {
  width: 100%;
}

.producto--color {
  background-color: white;
}

.galeria--modificacion {
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 5px;
  grid-auto-rows: minmax(22rem, auto);
}

.galeria--size {
  height: auto;
  width: 100%;
  padding-top: 5px;
  padding-left: 1%;
}

.galeria--color {
  background-color: white;
}

.informacionDesplegable {
  visibility: hidden;
  opacity: 0;
}

#persona {
  margin-top: 20px;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

/* contacto */
/* seccion 2 */
.formulario--modificacion {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.formulario--size {
  padding-top: 80px;
  padding-bottom: 5%;
}

.formulario--color {
  background-color: white;
}

.form--modificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form--size {
  height: auto;
}

.cssInput {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
}

.email--modificacion {
  border-radius: 5px;
}

.email--size {
  width: 80%;
  height: auto;
  margin-top: 10px;
}

.textarea--modificacion {
  border-radius: 5px;
}

.textarea--size {
  width: 80%;
  height: 30%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.condiciones--modificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condiciones--size {
  padding-left: 35%;
}

.checkbox--modificacion {
  cursor: pointer;
}

.checkbox--size {
  width: 40px;
  height: 30px;
}

.boton__enviar__borrar--modificacion {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.borrar--modificacion {
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}

.borrar--size {
  width: 200px;
  height: 30px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.borrar--color {
  color: white;
  background-color: #d11c1c;
}

/* animacion borrar */
.borrar--modificacion:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  -webkit-animation: pulseB 2s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulseB 2s infinite cubic-bezier(0.66, 0, 0, 1);
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.enviar--modificacion {
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}

.enviar--size {
  width: 200px;
  height: 30px;
}

.enviar--color {
  background-color: #64ac1d;
  color: white;
}

/* animacion enviar */
.enviar--modificacion:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  -webkit-animation: pulseE 2s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulseE 2s infinite cubic-bezier(0.66, 0, 0, 1);
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@-webkit-keyframes pulseE {
  0% {
    -webkit-box-shadow: 0 0 0 3px #64ac1d;
            box-shadow: 0 0 0 3px #64ac1d;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #64ac1d;
            box-shadow: 0 0 0 0px #64ac1d;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px #64ac1d;
            box-shadow: 0 0 0 3px #64ac1d;
  }
}

@keyframes pulseE {
  0% {
    -webkit-box-shadow: 0 0 0 3px #64ac1d;
            box-shadow: 0 0 0 3px #64ac1d;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #64ac1d;
            box-shadow: 0 0 0 0px #64ac1d;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px #64ac1d;
            box-shadow: 0 0 0 3px #64ac1d;
  }
}

/* animacion borrar */
@-webkit-keyframes pulseB {
  0% {
    -webkit-box-shadow: 0 0 0 3px #d11c1c;
            box-shadow: 0 0 0 3px #d11c1c;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #d11c1c;
            box-shadow: 0 0 0 0px #d11c1c;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px #d11c1c;
            box-shadow: 0 0 0 3px #d11c1c;
  }
}
@keyframes pulseB {
  0% {
    -webkit-box-shadow: 0 0 0 3px #d11c1c;
            box-shadow: 0 0 0 3px #d11c1c;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #d11c1c;
            box-shadow: 0 0 0 0px #d11c1c;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px #d11c1c;
            box-shadow: 0 0 0 3px #d11c1c;
  }
}

#modalConfirmacion {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: none;
  background-color: rgba(128, 128, 128, 0.459);
}

.modal__confirmacion--modificacion {
  position: fixed;
  text-align: center;
  border-radius: 5px;
}

.modal__confirmacion--size {
  width: 60%;
  height: 300px;
  padding-top: 40px;
  padding-bottom: 80px;
  top: -300px;
  left: 22%;
}

.modal__confirmacion--color {
  background-color: white;
  -webkit-box-shadow: #013440 0px 2px 10px 4px;
          box-shadow: #013440 0px 2px 10px 4px;
}

.logo__grande__confirmacion--modificacion {
  text-align: center;
  -webkit-filter: drop-shadow(4px 6px 2px #013440);
          filter: drop-shadow(4px 6px 2px #013440);
}

.logo__grande__confirmacion--size {
  width: 100px;
  height: 100px;
  margin-top: 5%;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.carrito--modificacion {
  border-radius: 5px;
}

.carrito--size {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 2%;
}

.carrito--color {
  background-color: white;
}

.carrito__seccion__productos--size {
  margin-right: 2%;
}

.producto__carrito--modificacion {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto__carrito--size {
  width: 100%;
  height: 180px;
  margin-top: 10px;
  margin-left: 1%;
}

.producto__carrito--color {
  background-color: white;
  -webkit-box-shadow: #013440 2px 2px 2px 2px;
          box-shadow: #013440 2px 2px 2px 2px;
  color: black;
}

.carrito__compra--size {
  width: 98%;
  height: 50px;
  margin-top: 20px;
}

.precio__total--modificacion {
  text-align: right;
}

.precio__total--size {
  padding-right: 20px;
  padding-top: 10px;
}

.carritoCompraFinal {
  background-color: white;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
  width: auto;
  height: 85px;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

/* informacion */
/* seccion 2 */
.cuadro__contenedor--size {
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 80px;
  padding-left: 1%;
}

.cuadro__contenedor--size div h2 {
  padding-bottom: 10px;
  padding-top: 20px;
}

.cuadro__contenedor--color {
  background-color: white;
  color: black;
}

.persona--modificacion {
  margin-top: 20px;
}

.informacion__persona--modificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.informacion__persona--modificacion img {
  border-radius: 5px;
  -webkit-box-shadow: #013440 2px 2px 2px 2px;
          box-shadow: #013440 2px 2px 2px 2px;
}

.persona__descripcion--modificacion {
  font-family: "Roboto", sans-serif;
}

.persona__descripcion--size {
  max-width: 600px;
  height: auto;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 10px;
}

.persona__descripcion--color {
  color: gray;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.cuadro__404--modificacion {
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadro__404--size {
  width: 99%;
  height: auto;
  padding-top: 200px;
  margin-top: 50px;
}

.cuadro__404--color {
  background-color: white;
}

.titulo__404--size {
  margin-bottom: 20px;
}

.boton__404__inicio--modificacion a {
  text-decoration: none;
  text-transform: uppercase;
}

.boton__404__inicio--size {
  padding-bottom: 200px;
}

.boton__404__inicio--size a {
  padding: 5px;
  border-radius: 8px;
}

.boton__404__inicio--color a {
  background-color: #013440;
  color: white;
  -webkit-box-shadow: 0 0 0 0 rgba(63, 60, 60, 0.1);
          box-shadow: 0 0 0 0 rgba(63, 60, 60, 0.1);
  -webkit-animation: pulse404 2s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulse404 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.boton__404__inicio--color a:hover {
  color: blanchedalmond;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@-webkit-keyframes pulse404 {
  0% {
    -webkit-box-shadow: 0 0 0 5px #013440;
            box-shadow: 0 0 0 5px #013440;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #013440;
            box-shadow: 0 0 0 0px #013440;
  }
  100% {
    -webkit-box-shadow: 0 0 0 5px #013440;
            box-shadow: 0 0 0 5px #013440;
  }
}

@keyframes pulse404 {
  0% {
    -webkit-box-shadow: 0 0 0 5px #013440;
            box-shadow: 0 0 0 5px #013440;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px #013440;
            box-shadow: 0 0 0 0px #013440;
  }
  100% {
    -webkit-box-shadow: 0 0 0 5px #013440;
            box-shadow: 0 0 0 5px #013440;
  }
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.producto__x--modificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

.producto__x--size {
  width: 99%;
  height: auto;
  padding-top: 100px;
  margin-left: 0.5%;
  padding-bottom: 115px;
}

.producto__x--color {
  background-color: white;
}

.producto__x__img--size {
  padding-left: 1%;
  padding-bottom: 20px;
}

.producto__x__descripcion--size {
  padding-right: 80px;
  padding-left: 30px;
}

.precioProductoBtc {
  color: #f7931a;
  display: block;
}

.boton__comprar--modificacion {
  position: relative;
}

.boton__comprar--modificacion a {
  text-decoration: none;
}

.boton__comprar__texto--modificacion {
  border-radius: 5px;
  position: absolute;
  border: none;
}

.boton__comprar__texto--size {
  width: 150px;
  height: 30px;
  right: 130px;
  bottom: 0px;
}

.boton__comprar__texto--color {
  background-color: #013440;
  color: white;
  border-color: #013440;
}

/* animacion boton comprar */
.boton__comprar__texto--color:hover {
  -webkit-animation: pulseb 2s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulseb 2s infinite cubic-bezier(0.66, 0, 0, 1);
  color: blanchedalmond;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@-webkit-keyframes pulseb {
  0% {
    -webkit-box-shadow: 0 0 0 3px black;
            box-shadow: 0 0 0 3px black;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px black;
            box-shadow: 0 0 0 0px black;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px black;
            box-shadow: 0 0 0 3px black;
  }
}

@keyframes pulseb {
  0% {
    -webkit-box-shadow: 0 0 0 3px black;
            box-shadow: 0 0 0 3px black;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0px black;
            box-shadow: 0 0 0 0px black;
  }
  100% {
    -webkit-box-shadow: 0 0 0 3px black;
            box-shadow: 0 0 0 3px black;
  }
}

.seleccionCuotas {
  border-radius: 5px;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 320px;
  bottom: 250px;
  color: black;
}

.seleccionCuotas select {
  cursor: pointer;
}

.seleccionCuotas select {
  -webkit-box-shadow: 3px 3px 2px 0px #013440;
          box-shadow: 3px 3px 2px 0px #013440;
}

.seleccionCuotas label {
  font-size: 18px;
  letter-spacing: 0.1px;
}

.seleccionCuotas:hover {
  color: #013440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.subrayadoText {
  background: #013440e3;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

#modalSeleccionIdioma {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(128, 128, 128, 0.459);
  display: none;
}

.modal--modificacion {
  position: fixed;
  text-align: center;
  border-radius: 5px;
}

.modal--size {
  width: 80%;
  height: 450px;
  padding-top: 40px;
  padding-bottom: 80px;
  top: -450px;
  left: 10%;
}

.modal--color {
  background-color: white;
  -webkit-box-shadow: #013440 0px 2px 10px 4px;
          box-shadow: #013440 0px 2px 10px 4px;
}

.botones__idioma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  border: none;
}

.boton__idioma {
  border-radius: 5px;
  color: white;
  background-color: #013440;
  border-color: #013440;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.boton__idioma:hover {
  color: blanchedalmond;
  -webkit-box-shadow: black 2px 2px 0px 1px;
          box-shadow: black 2px 2px 0px 1px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.logo__grande--modificacion {
  text-align: center;
  -webkit-filter: drop-shadow(4px 6px 2px #013440);
          filter: drop-shadow(4px 6px 2px #013440);
}

.logo__grande--size {
  width: 100px;
  height: 100px;
  margin-top: 10%;
}
/*# sourceMappingURL=style.css.map */